            <footer id = "contact" class="footer_wrap widget_area scheme_original">
               <div class="footer_wrap_inner widget_area_inner">
                  <div class="content_wrap">
                     <div class="columns_wrap">
                        <aside class="column-1_4 widget widget_text">
                           <h4 class="sc_title">Contact Us</h4>
                           <div class="textwidget">
                              We are the leading real estate and rental marketplace dedicated to empowering consumers.
                              <br>
                              <br>
                              <div class="footer-widget-contacts">
                                 <span class="accent1h margin_right_tiny icon-location"></span>Bamazai Arcade, MDA Chowk Multan
                                 <br>
                                 <span class="accent1h margin_right_tiny icon-tablet"></span>+92 61 4422 123
                                 <br>
                                 <span class="accent1h margin_right_tiny icon-mail"></span>mudassar.developers@outlook.com
                              </div>
                           </div>
                        </aside>
                        <aside class="column-1_4">
                                 <h4 class="sc_title">Get in Touch</h4>
                                 <div class="sc_form_wrap">
                                    <div class="sc_form custom_form_slider_item">
                                       <form  data-formtype="form_custom" method="post" action="">
                                          <div class="sc_form_item sc_form_field cfs_name "><input type="text" name="name" placeholder="Name"></div>
                                          <div class="sc_form_item sc_form_field cfs_email "><input type="text" name="email" placeholder="Email"></div>
                                          <div class="sc_form_item sc_form_message cfs_message">
                                             <textarea name="message" placeholder="Message"></textarea>
                                          </div>
                                          <div class="sc_form_item sc_form_button cfs_submit "><button>submit</button></div>
                                          <div class="result sc_infobox"></div>
                                       </form>
                                    </div>
                                 </div>
                        </aside>
                        <aside class="column-1_2">
	                         <h4 class="sc_title">OUR OFFICE</h4>
	                         <div id="map" style="height: 19em;width: 100%;"></div>
                        </aside>
                     </div>
                  </div>
               </div>
            </footer>