<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="format-detection" content="telephone=no">
      <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.png" />
      <title>{{ site.title }}</title>

      <!--Initialize Firebase-->
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
      <!--Google Fonts Link-->
      <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat|Open+Sans|Raleway&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

      <link rel='stylesheet' href='{{ site.baseurl }}/js/vendor/booked/font-awesome.min.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/js/vendor/essgrid/tooltipster.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/js/vendor/essgrid/tooltipster-light.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/js/vendor/booked/styles.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/js/vendor/revslider/settings.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/fontello/css/fontello.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/style.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/animation.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/shortcodes.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/skin.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/custom-style.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/colors.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/responsive.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/skin.responsive.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/js/vendor/swiper/swiper.css' type='text/css' media='all' />
      <link rel='stylesheet' href='{{ site.baseurl }}/css/custom/messages.css' type='text/css' media='all' />
   </head>