<div class="top_panel_title top_panel_style_1 breadcrumbs_present title_present scheme_original">
   <div class="top_panel_title_inner top_panel_inner_style_1 breadcrumbs_present_inner">
      <div class="content_wrap main_title">
         <div class="who_are_we">
            <p>TOWN PLANNERS<br>
            ARCHITECTS<br>
            PROPERTY CONCERN
            </p>
      </div>
         <div class="buy_properties"><span class="property_price_box_price"><a href="sale_listings.html">Buy A Property  </a></span></div>
         <div class="rent_properties"><span class="property_price_box_price"><a href="rent_listings.html">Rent A Property</a></span></div>
      </div>
   </div>
</div>