<div class = "detail_section">
   <div class="page_content_wrap">
      <div class="content_wrap">
         <div class="content">
            <section class="post_featured">
               <div class="post_thumb">
                  <a class="hover_icon hover_icon_view" href="{{ site.baseurl }}/images/image-7-1.jpg" title="87 Mishaum Point Rd, Dartmouth, MA 02748">
                  <span class="ps_single_status">sale</span>
                  <img alt="" src="{{ site.baseurl }}/images/image-7-1-1170x659.jpg"></a>
               </div>
            </section>
            <section class="post_content">
               <h3 class="post_title">{{ page.title }}</h3>
               <div class="ps_single_info">
                  <div class="ps_single_info_descr">
                     Property ID: 20055, House. 
                  </div>
                  <div class="property_price_box"><span class="property_price_box_sign">$</span><span class="property_price_box_price">1,249,000</span></div>
                  <div class="sc_property_info_list">
                     <span class="icon-area_2">{{ page.area }}</span><span class="icon-floor_plan">8</span><span class="icon-bed">{{ page.beds }}</span>
                     <span class="icon-bath">{{ page.baths }}</span><span class="icon-warehouse">{{ page.workshops }}</span><span class="icon-crane">2001</span> 
                  </div>
                  <div class="cL"></div>
               </div>
               <div class="sc_section">
                  <p>The Moana Residence is situated on the best lot at Kohanaiki and is a 5 bedroom, 5 1/2 bath home of approximately 8,000 interior sq. ft. It features Ipe hardwood flooring on the interior and granite stone flooring on the lanais, granite countertops, vaulted cedar ceilings, clerestory windows for lots of light.</p>
                  <p>mahogany cabinetry, mahogany trim and pocketing doors throughout. The beautifully landscaped grounds include a large lap pool, spa and separate Pool.</p>
                  <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_medium margin_bottom_medium"></div>
                  <h4 class="sc_title">Features &amp; Amenities</h4>
                  <div class="columns_wrap sc_columns">
                     <div class="column-1_2 sc_column_item">
                        <ul class="sc_list sc_list_style_iconed color_1">
                           <li class="sc_list_item">
                              <span class="sc_list_icon icon-stop color_2"></span>
                              <p>Quiet Neighbourhood</p>
                           </li>
                           <li class="sc_list_item">
                              <span class="sc_list_icon icon-stop color_2"></span>
                              <p>Great Local Community</p>
                           </li>
                        </ul>
                     </div>
                     <div class="column-1_2 sc_column_item">
                        <ul class="sc_list sc_list_style_iconed color_1">
                           <li class="sc_list_item">
                              <span class="sc_list_icon icon-stop color_2"></span>
                              <p>Fabulous Views</p>
                           </li>
                           <li class="sc_list_item">
                              <span class="sc_list_icon icon-stop color_2"></span>
                              <p>Large Play Center In Yard</p>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_medium margin_bottom_medium"></div>
                  <h4 class="sc_title">Additional Details</h4>
                  <div class="property_text_1">
                     <p>AC: Ceiling Fan(s), Central<br /> ACRES: 0.16<br /> ACRES SOURCE: Assessor<br /> AP #: 374-493-13<br /> APPLIANCES: Dishwasher, Freestanding Gas Range, Garbage Disposal, Microwave<br /> BATHROOM DESCRIPTION: Stall Shower<br /> BEDROOM FEATURES: Main Floor Master Bedroom<br /> CROSS STREETS: Lincoln and Anchor<br /> DINING AREA: Family Kitchen</p>
                  </div>
                  <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_medium margin_bottom_medium"></div>
                  <h4 class="sc_title">Nearby Public places and transportion</h4>
                  <div class="property_text_1">
                     <p>Subway (line 1E): 0.12 mi – 18th St (18th St and 7th Ave)<br /> Market: 0.15 mi – 14th St (16th St and 8th Ave)<br /> Kindergarden: 0.26 mi – 23rd St (23rd St and 8th Ave)<br /> School: 0.15 mi – 14th St (16th St and 8th Ave)</p>
                  </div>
                  <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_medium margin_bottom_medium"></div>
                  <h4 class="sc_title">Contacts Us</h4>
                  <div  class="sc_team_wrap">
                     <div class="sc_team sc_team_style_team-2">
                        <div class="sc_columns columns_wrap">
                           <div class="column-1_2 column_padding_bottom">
                              <div  class="sc_team_item columns_wrap">
                                 <div class="sc_team_item_avatar">
                                    <img alt="" src="{{ site.baseurl }}/images/asim.jpg"> 
                                 </div>
                                 <div class="sc_team_item_info">
                                    <div class="sc_team_item_title"><a href="#">Asim</a></div>
                                    <div class="sc_team_item_position">Sales manager</div>
                                    <div class="sc_socials sc_socials_type_icons sc_socials_size_tiny">
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-facebook"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-twitter"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-instagramm"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-linkedin"></span></a></div>
                                    </div>
                                 </div>
                                 <div class="cL"></div>
                                 <div class="sc_team_item_phone"><span class="icon-mobile29"></span>0321 868 11 22</div>
                                 <div class="sc_team_item_email"><span class="icon-message106"></span>asim@mudassardevelopers.com</div>
                              </div>
                           </div>
                           <div class="column-1_2 column_padding_bottom">
                              <div class="sc_team_item even columns_wrap">
                                 <div class="sc_team_item_avatar">
                                    <img alt="" src="{{ site.baseurl }}/images/atiq.jpg"> 
                                 </div>
                                 <div class="sc_team_item_info">
                                    <div class="sc_team_item_title"><a href="#">Atiq Adil</a></div>
                                    <div class="sc_team_item_position">Sales manager</div>
                                    <div class="sc_socials sc_socials_type_icons sc_socials_size_tiny">
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-facebook"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-twitter"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-instagramm"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-linkedin"></span></a></div>
                                    </div>
                                 </div>
                                 <div class="cL"></div>
                                 <div class="sc_team_item_phone"><span class="icon-mobile29"></span>0300 630 03 23</div>
                                 <div class="sc_team_item_email"><span class="icon-message106"></span>atiq@mudassardevelopers.com</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>