<div class = "detail_section">
   <div class="page_content_wrap">
      <div class="content_wrap">
         <div class="content">
            <section class="post_featured">
               <div class="post_thumb">
                  <a class="hover_icon hover_icon_view" href="{{ site.baseurl }}/images/image-7-1.jpg">
                  <span class="ps_single_status">{{ page.type }}</span>
                  <img alt="" src="{{ site.baseurl }}/images/image-7-1-1170x659.jpg"></a>
               </div>
            </section>
            <section class="post_content">
               <h3 class="post_title">{{ page.title }}</h3>
               <div class="ps_single_info">
                  <!--
                  <div class="ps_single_info_descr">
                     Property ID: 20055, House. 
                  </div>
                  -->
                  <div class="property_price_box"><span class="property_price_box_sign">Rs </span><span class="property_price_box_price">{{ page.price }}</span></div>
                  <div class="sc_property_info_list">
                     <span class="icon-area_2">{{ page.area }}</span>{% if page.front %}<span class="icon-floor_plan">{{ page.front }}</span>{% endif %}{% if page.beds %}<span class="icon-bed">{{ page.beds }}</span>{% endif %}
                     {% if page.baths %}<span class="icon-bath">{{ page.baths }}</span>{% endif %}{% if page.workshops %}<span class="icon-warehouse">{{ page.workshops }}</span>{% endif %}
                     <!--
                     <span class="icon-crane">2001</span>
                     -->
                  </div>
                  <div class="cL"></div>
               </div>
               <div class="sc_section">
                  <h4 class="sc_title">Additional Details</h4>
                  <div class="property_text_1">
                     <p>{{ page.detail1 }}
                     {% if page.detail3 %}<br />{{ page.detail3 }}{% endif %}
                     {% if page.detail4 %}<br />{{ page.detail4 }}{% endif %}
                     {% if page.detail5 %}<br />{{ page.detail5 }}{% endif %}
                     {% if page.detail6 %}<br />{{ page.detail6 }}{% endif %}
                     {% if page.detail7 %}<br />{{ page.detail7 }}{% endif %}
                     {% if page.detail8 %}<br />{{ page.detail8 }}{% endif %}
                     {% if page.detail9 %}<br />{{ page.detail9 }}{% endif %}</p>
                  </div>
                  <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_top_medium margin_bottom_medium"></div>
                  <h4 class="sc_title">Contact Our Team</h4>
                  <div  class="sc_team_wrap">
                     <div class="sc_team sc_team_style_team-2">
                        <div class="sc_columns columns_wrap">
                           <div class="column-1_2 column_padding_bottom">
                              <div  class="sc_team_item columns_wrap">
                                 <div class="sc_team_item_avatar">
                                    <img alt="" src="{{ site.baseurl }}/images/asim.jpg"> 
                                 </div>
                                 <div class="sc_team_item_info">
                                    <div class="sc_team_item_title"><a href="#">Asim</a></div>
                                    <div class="sc_team_item_position">Sales manager</div>
                                    <div class="sc_socials sc_socials_type_icons sc_socials_size_tiny">
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-facebook"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-twitter"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-instagramm"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-linkedin"></span></a></div>
                                    </div>
                                 </div>
                                 <div class="cL"></div>
                                 <div class="sc_team_item_phone"><span class="icon-mobile29"></span>0321 8681122</div>
                                 <div class="sc_team_item_email"><span class="icon-message106"></span>asim@mudassardevelopers.com</div>
                              </div>
                           </div>
                           <div class="column-1_2 column_padding_bottom">
                              <div class="sc_team_item even columns_wrap">
                                 <div class="sc_team_item_avatar">
                                    <img alt="" src="{{ site.baseurl }}/images/atiq.jpg"> 
                                 </div>
                                 <div class="sc_team_item_info">
                                    <div class="sc_team_item_title"><a href="#">Atiq Adil</a></div>
                                    <div class="sc_team_item_position">Sales manager</div>
                                    <div class="sc_socials sc_socials_type_icons sc_socials_size_tiny">
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-facebook"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-twitter"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-instagramm"></span></a></div>
                                       <div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-linkedin"></span></a></div>
                                    </div>
                                 </div>
                                 <div class="cL"></div>
                                 <div class="sc_team_item_phone"><span class="icon-mobile29"></span>0300 6300323</div>
                                 <div class="sc_team_item_email"><span class="icon-message106"></span>atiq@mudassardevelopers.com</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</div>